SECRET_KEY=a-really-long-and-unique-key-that-nobody-knows
MAIL_SERVER=localhost
MAIL_PORT=8025
MS_TRANSLATOR_KEY=<your-translator-key-here>
ELASTICSEARCH_URL=http://localhost:9200


Accesskey=12345
Secretkey=12345
ENDPOINT_URL=https://s3.ru-3.storage.selcloud.ru
BACKET_NAME=test-backet
REGION_NAME=ru-3